<link rel="stylesheet" href="/stylesheets/admin/admin.css">
<title>Edit {{user.fname}}</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="admin-sidebar"
                class="col-lg-2 col-md-3 vh-100 bg-light admin-mobile-sidebar admin-sidebar-hidden z-3">
                {{>admin-sidebar}}
            </div>
            <div class="col admin-content">
                {{>admin-header}}
                <div class="row p-5">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        {{#if register_err}}
                            <div class="col user-register-error">
                                <i class="ri-error-warning-line"></i>
                                <p class="m-0">{{register_err}}</p>
                            </div>
                        {{/if}}
                        <form class="d-flex flex-column gap-4" method="post" action="/admin/users/edit/{{user.username}}" required>
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input value="{{user.fname}}" name="fname" type="text" class="form-control" id="fname" placeholder="Enter First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input value="{{user.lname}}" name="lname" type="text" class="form-control" id="lname" placeholder="Enter Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input value="{{user.username}}" name="username" type="text" class="form-control" id="username" placeholder="Enter Username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input value="{{user.email}}" name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
                            </div>
                            
                            <div class="form-group w-50">
                                <label for="user-role">User Role: <b>[{{user.role}}]</b></label>
                                <select name="role" class="form-select" aria-label="Default select example" id="user-role">
                                    <option value="{{user.role}}"> - No change - </option>
                                    <option value="customer">customer</option>
                                    <option value="editor">editor</option>
                                    <option value="admin">admin</option>
                                </select>
                            </div>
                            <div class="form-group w-50">
                                <label for="user-status">User Status: <b>[{{user.status}}]</b></label>
                                <select name="status" class="form-select" aria-label="Default select example" id="user-status">
                                    <option value="{{user.status}}"> - No change - </option>
                                    <option value="active">active</option>
                                    <option value="inactive">inactive</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary w-25">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script defer src="/javascripts/admin/admin.js"></script>